In [1]:
import re
import pandas as pd
import csv
from datetime import datetime

def is_create(line):
    return 'CREATE TABLE' in line or False

def is_insert(line):
    return 'INSERT INTO' in line or False

def is_finish(line):
    return ';' in line or False

def get_table_name_create(line):
    match = re.search('CREATE TABLE IF NOT EXISTS `([0-9_a-zA-Z]+)`', line)
    if match:
        return match.group(1)
    else:
        print(line)
        
def get_table_name_insert(line):
    match = re.search('INSERT INTO `([0-9_a-zA-Z]+)`', line)
    if match:
        return match.group(1)
    else:
        print(line)

def create_csv_file(filename):
    filename += ".csv"
    open(filename, 'w')

def set_values_insert(line, file):
    #s = ","
    p = re.compile('`([0-9_a-zA-Z]+)`')
    writer = csv.writer(file)
    writer.writerow(p.findall(line)[1:])
                    
def sql_to_csv(sqlfile):
    reader = open(sqlfile, 'r', encoding='utf-8')
    contenu = reader.read()
    lines = contenu.split("\n")
    nb_table = 0
    insert = False
    for line in lines:
        if insert and (not is_insert(line)):
            writer = csv.writer(file)
            writer.writerow(line[1:-2].split(", "))
        if is_create(line):
            create_csv_file(get_table_name_create(line))
            nb_table += 1
        if is_insert(line):
            filename = get_table_name_insert(line)
            insert = True
            file = open(filename+".csv", 'a')
            set_values_insert(line, file) 
        if is_finish(line):
            insert = False
    print("Il y a", nb_table, "tables")
        
deb = datetime.now()
sql_to_csv("collaviz/traceforum.sql")
fin = datetime.now()
print(deb, fin)

Il y a 10 tables
2019-12-21 23:19:50.062278 2019-12-21 23:19:50.435909

In [2]:
data = pd.read_csv("activite.csv", encoding='latin-1') 
data.head()

   IDAct                                          Titre  TypeAct  IDCat
0      1                   'Visiter un lien hypertexte'        0      1
1      2         'Afficher une structure (cours,forum)'        0      1
2      3  'Afficher les titres des message d''un forum'        1      1
3      4            'Afficher le contenu d''un message'        1      2
4      5                                    'Connexion'        0      3

In [3]:
data = pd.read_csv("categorie.csv", encoding='latin-1') 
data.head()

   IDCat                                          Titre
0      1                            'Parcours du forum'
1      2  'Operation sur les messages de communication'
2      3                         'Communication privee'
3      4                         'Personnalisation IHM'

In [2]:
data = pd.read_csv("transition.csv", encoding='latin-1') 
data.head()

,IDTran,Utilisateur,Titre,Attribut,Date,Heure,Delai,RefTran,Commentaire
0,1,'tdelille','Connexion','login=tdelille','2009-02-12','11:33:55',NaN,0,NaN
1,2,'tdelille','Afficher une structure (cours/forum)','IDForum=7','2009-02-12','11:33:58',NaN,0,NaN
2,166,'mmay','RÃ©pondre Ã un message',"'IDForum=7,IDMsg=1184,IDParent=1183'",'2009-02-13','03:40:13','00:09:46',0,NaN
3,165,'mmay','Afficher le fil de discussion',"'IDForum=7,IDMsg=1163'",'2009-02-13','03:30:13','00:00:03',0,'Scrollbar inactive'
4,163,'mmay','Afficher le fil de discussion',"'IDForum=7,IDMsg=1163'",'2009-02-13','03:27:50',NaN,0,NaN

In [10]:
data = pd.read_csv("cleaned_events.csv", encoding='latin-1') 
data.head()

,id,timestamp,experiment,activity,userType,userId,action,data,data2
0,0,2019-01-06 18:59:29,exp1,26_300,teacher,-1,CHANGE_SLIDE,10,11
1,1,2019-01-06 19:01:00,exp1,26_300,teacher,-1,CHANGE_SLIDE,11,12
2,2,2019-01-06 19:01:52,exp1,26_300,teacher,-1,CHANGE_SLIDE,12,11
3,3,2019-01-06 19:01:53,exp1,26_300,teacher,-1,CHANGE_SLIDE,11,10
4,4,2019-01-06 19:01:53,exp1,26_300,teacher,-1,CHANGE_SLIDE,10,9

In [11]:
data = pd.read_csv("slide_quality.csv", encoding='latin-1') 
data.head()

,experiment,activity,slide,NEED_ANSWER,NEED_SLOW,RESOURCE_DISLIKE,RESOURCE_LIKE
0,exp1,36_378,0,0,0,4,3
1,exp1,36_378,1,0,8,0,0
2,exp1,36_378,2,0,1,0,2
3,exp1,36_378,9,0,0,1,0
4,exp1,36_378,10,0,0,1,1

In [13]:
data = pd.read_csv("cleaned_resources.csv", encoding='latin-1') 
data.head()

,id,timestamp,experiment,activity,url,title,description,mime
0,0,2019-01-06 18:59:31,exp1,26_300,http://fr.wikipedia.org/wiki/Cycle_en_V,Cycle en V,Cycle en V,ressources_externes
1,1,2019-01-06 18:59:31,exp1,26_300,http://fr.wikipedia.org/wiki/V_(comics),V (comics),V (comics),ressources_externes
2,2,2019-01-06 18:59:31,exp1,26_300,http://fr.wikipedia.org/wiki/Architecture_des_...,Architecture des moteurs Ã pistons,Architecture des moteurs Ã pistons,ressources_externes
3,3,2019-01-06 18:59:31,exp1,26_300,http://fr.wikipedia.org/wiki/Bicyclette,Bicyclette,Bicyclette,ressources_externes
4,4,2019-01-06 18:59:31,exp1,26_300,http://fr.wikipedia.org/wiki/Anglais,Anglais,Anglais,ressources_externes

In [59]:
data = pd.read_csv("transition.csv", encoding='utf-8') 
def actionDate(data, Action, Utilisateur, Date):
    return data[(data['Titre'] == Action) & (data['Utilisateur'] == Utilisateur) & (data['Date'] == Date)].count()['Date']

print(actionDate(data, "'Connexion'", "'tdelille'","'2009-02-12'"))
print(actionDate(data, "'Afficher le contenu d''un message'", "'mmay'","'2009-02-13'"))
print(actionDate(data, "'Répondre à un message'", "'mmay'","'2009-02-13'"))

4
11
3

In [60]:
data = pd.read_csv("transition.csv", encoding='utf-8')
def action2Date(data, Action, Utilisateur, Date1,Date2):
    List=[]
    
    for d in data['Date'].unique().tolist():
        if ((d >= Date1) and (d <= Date2)):
            List.append(actionDate(data, Action, Utilisateur, d))

    return sum(List)

print(action2Date(data, "'Connexion'", "'tdelille'","'2009-02-12'", "'2009-02-13'"))

7

In [66]:
data = pd.read_csv("transition.csv", encoding='utf-8')
def postsUtilisateur(data, utilisateur):
    tab = []
    attribut = data['Attribut'][(data['Titre'] == "'Poster un nouveau message'") & (data['Utilisateur'] == utilisateur)]
    for attr in attribut:
        tab.append(str(attr).split(",")[1].split("\n")[0].split("=")[1][:-1])
    return(tab)

print(postsUtilisateur(data, "'tdelille'"))

['1163', '1167', '1207', '1255', '1267', '1268', '1328', '1352', '1368', '1369', '1371', '1387', '1394', '1434', '1484', '1490', '1503', '1528', '1530', '1531', '1533', '1564', '1616', '1628', '1679', '1680', '1692', '1697', '1714', '1721', '1728', '1737', '1763', '1767', '1777', '1778', '1807', '1823', '1839', '1876', '1887', '1901', '1951', '1979', '2033', '2048', '2092', '2161', '2187', '2317', '2354', '2364', '2386', '2393', '2444', '2501', '2588', '2630', '2635', '2641', '2644', '2674', '2721', '2756', '2771', '2946', '3015', '3030']

In [67]:
data = pd.read_csv("transition.csv", encoding='utf-8')
def getReponsesPost(data, idParent):
    utilisateur = data['Utilisateur'][(data['Attribut'].str.contains('IDParent='+idParent)) & (data['Titre'] == "'Répondre à un message'")]
    attribut = data['Attribut'][(data['Attribut'].str.contains('IDParent='+idParent))]
    if(attribut.empty):
        return ("", "")
    idMessage = str(attribut).split(",")[1].split("\n")[0].split("=")[1]
    return (utilisateur, idMessage)
print(getReponsesPost(data, '1163'))

(22    'ddaniaupotter'
Name: Utilisateur, dtype: object, '1164')

In [69]:
#pour chaque utilisateur
import numpy as np
deb = datetime.now()
utilisateurs = data["Utilisateur"].unique().tolist()
for l in range(len(utilisateurs)):
    print("\n Pour l'utilisateur :" + utilisateurs[l] +"\n" )
    #on initialise la matrice de résultat
    a = np.zeros(shape=(1,len(utilisateurs)))
    tableauResultat = pd.DataFrame(a, index = ['l1'], columns = utilisateurs)
    #on recupere les posts qu'il a créé
    posts = postsUtilisateur(data, utilisateurs[l])
    
    #pour chaque post qu'il a créé
    for i in range(len(posts)):
        tableauUsers = []
        user, idMessage = getReponsesPost(data, posts[i])
        #tant qu'il y a des messages on déroule le fil de la discussion
        while idMessage != "" :  
            #on récupere l'identifiant du message et l'utilisateur qui a posté le message
            tableauUsers.append(user.values[0])
            user, idMessage = getReponsesPost(data, idMessage)
        tableauUsers = list(set(tableauUsers))
       
        # on ajoute 1 dans la matrice si l'utilisateur a répondu au post
        for j in range(len(utilisateurs)):
            for k in range(len(tableauUsers)):
                if tableauUsers[k] == utilisateurs[j]:
                    tableauResultat.at['l1', utilisateurs[j]] = (1 + tableauResultat.at['l1', utilisateurs[j]])
   
    # on calcule la matrice en pourcentage
    if (len(posts) != 0) :
        tableauResultat = (tableauResultat * 100) / len(posts)
    print(tableauResultat)
fin = datetime.now()
print(deb)
print(fin)

 Pour l'utilisateur :'tdelille'

    'tdelille'    'mmay'  'ddaniaupotter'  'gachort'  'sebastien'  'admin'  \
l1   52.941176  5.882353        48.529412  29.411765          0.0      0.0

    'madeth'  'cdejean'  'fdarriet'  Utilisateur  ...  'jvasseur'  'mdanet'  \
l1       0.0        0.0         0.0          0.0  ...         0.0       0.0

    'psalam'  'guest'  'cevanen'  'cfroger'  'adebeuckelaere'  'shernu'  \
l1       0.0      0.0        0.0        0.0               0.0       0.0

    'xjmechain'  'ntricoit'
l1          0.0         0.0

[1 rows x 24 columns]

 Pour l'utilisateur :'mmay'

    'tdelille'     'mmay'  'ddaniaupotter'  'gachort'  'sebastien'  'admin'  \
l1   28.571429  42.857143        14.285714  28.571429          0.0      0.0

    'madeth'  'cdejean'  'fdarriet'  Utilisateur  ...  'jvasseur'  'mdanet'  \
l1       0.0        0.0         0.0          0.0  ...         0.0       0.0

    'psalam'  'guest'  'cevanen'  'cfroger'  'adebeuckelaere'  'shernu'  \
l1       0.0      0.0        0.0        0.0               0.0       0.0

    'xjmechain'  'ntricoit'
l1          0.0         0.0

[1 rows x 24 columns]

 Pour l'utilisateur :'ddaniaupotter'

    'tdelille'    'mmay'  'ddaniaupotter'  'gachort'  'sebastien'  'admin'  \
l1   69.117647  2.941176        42.647059  32.352941          0.0      0.0

    'madeth'  'cdejean'  'fdarriet'  Utilisateur  ...  'jvasseur'  'mdanet'  \
l1       0.0        0.0         0.0          0.0  ...         0.0       0.0

    'psalam'  'guest'  'cevanen'  'cfroger'  'adebeuckelaere'  'shernu'  \
l1       0.0      0.0        0.0        0.0               0.0       0.0

    'xjmechain'  'ntricoit'
l1          0.0         0.0

[1 rows x 24 columns]

 Pour l'utilisateur :'gachort'

    'tdelille'    'mmay'  'ddaniaupotter'  'gachort'  'sebastien'  'admin'  \
l1   43.589744  5.128205        33.333333  43.589744          0.0      0.0

    'madeth'  'cdejean'  'fdarriet'  Utilisateur  ...  'jvasseur'  'mdanet'  \
l1       0.0        0.0         0.0          0.0  ...         0.0       0.0

    'psalam'  'guest'  'cevanen'  'cfroger'  'adebeuckelaere'  'shernu'  \
l1       0.0      0.0        0.0        0.0               0.0       0.0

    'xjmechain'  'ntricoit'
l1          0.0         0.0

[1 rows x 24 columns]

 Pour l'utilisateur :'sebastien'

    'tdelille'  'mmay'  'ddaniaupotter'  'gachort'  'sebastien'  'admin'  \
l1         0.0     0.0              0.0        0.0          0.0      0.0

    'madeth'  'cdejean'  'fdarriet'  Utilisateur  ...  'jvasseur'  'mdanet'  \
l1       0.0        0.0         0.0          0.0  ...         0.0       0.0

    'psalam'  'guest'  'cevanen'  'cfroger'  'adebeuckelaere'  'shernu'  \
l1       0.0      0.0        0.0        0.0               0.0       0.0

    'xjmechain'  'ntricoit'
l1          0.0         0.0

[1 rows x 24 columns]

 Pour l'utilisateur :'admin'

    'tdelille'     'mmay'  'ddaniaupotter'  'gachort'  'sebastien'  'admin'  \
l1   33.333333  66.666667              0.0  33.333333          0.0      0.0

    'madeth'  'cdejean'  'fdarriet'  Utilisateur  ...  'jvasseur'  'mdanet'  \
l1       0.0        0.0         0.0          0.0  ...         0.0       0.0

    'psalam'  'guest'  'cevanen'  'cfroger'  'adebeuckelaere'  'shernu'  \
l1       0.0      0.0        0.0        0.0               0.0       0.0

    'xjmechain'  'ntricoit'
l1          0.0         0.0

[1 rows x 24 columns]

 Pour l'utilisateur :'madeth'

    'tdelille'  'mmay'  'ddaniaupotter'  'gachort'  'sebastien'  'admin'  \
l1         0.0     0.0              0.0        0.0          0.0      0.0

    'madeth'  'cdejean'  'fdarriet'  Utilisateur  ...  'jvasseur'  'mdanet'  \
l1       0.0        0.0         0.0          0.0  ...         0.0       0.0

    'psalam'  'guest'  'cevanen'  'cfroger'  'adebeuckelaere'  'shernu'  \
l1       0.0      0.0        0.0        0.0               0.0       0.0

    'xjmechain'  'ntricoit'
l1          0.0         0.0

[1 rows x 24 columns]

 Pour l'utilisateur :'cdejean'

    'tdelille'  'mmay'  'ddaniaupotter'  'gachort'  'sebastien'  'admin'  \
l1         0.0     0.0              0.0        0.0          0.0      0.0

    'madeth'  'cdejean'  'fdarriet'  Utilisateur  ...  'jvasseur'  'mdanet'  \
l1       0.0  33.333333   66.666667          0.0  ...   33.333333       0.0

    'psalam'  'guest'  'cevanen'  'cfroger'  'adebeuckelaere'  'shernu'  \
l1       0.0      0.0        0.0        0.0               0.0       0.0

    'xjmechain'  'ntricoit'
l1          0.0         0.0

[1 rows x 24 columns]

 Pour l'utilisateur :'fdarriet'

    'tdelille'    'mmay'  'ddaniaupotter'  'gachort'  'sebastien'   'admin'  \
l1         0.0  2.439024              0.0        0.0          0.0  2.439024

    'madeth'  'cdejean'  'fdarriet'  Utilisateur  ...  'jvasseur'   'mdanet'  \
l1       0.0  14.634146   46.341463          0.0  ...   29.268293  51.219512

    'psalam'  'guest'  'cevanen'  'cfroger'  'adebeuckelaere'  'shernu'  \
l1       0.0      0.0        0.0        0.0               0.0       0.0

    'xjmechain'  'ntricoit'
l1          0.0         0.0

[1 rows x 24 columns]

 Pour l'utilisateur :Utilisateur

    'tdelille'  'mmay'  'ddaniaupotter'  'gachort'  'sebastien'  'admin'  \
l1         0.0     0.0              0.0        0.0          0.0      0.0

    'madeth'  'cdejean'  'fdarriet'  Utilisateur  ...  'jvasseur'  'mdanet'  \
l1       0.0        0.0         0.0          0.0  ...         0.0       0.0

    'psalam'  'guest'  'cevanen'  'cfroger'  'adebeuckelaere'  'shernu'  \
l1       0.0      0.0        0.0        0.0               0.0       0.0

    'xjmechain'  'ntricoit'
l1          0.0         0.0

[1 rows x 24 columns]

 Pour l'utilisateur :'mwollenburger'

    'tdelille'     'mmay'  'ddaniaupotter'  'gachort'  'sebastien'  'admin'  \
l1   37.037037  11.111111        55.555556  33.333333          0.0      0.0

    'madeth'  'cdejean'  'fdarriet'  Utilisateur  ...  'jvasseur'  'mdanet'  \
l1       0.0        0.0         0.0          0.0  ...         0.0       0.0

    'psalam'  'guest'  'cevanen'  'cfroger'  'adebeuckelaere'  'shernu'  \
l1       0.0      0.0        0.0        0.0               0.0       0.0

    'xjmechain'  'ntricoit'
l1          0.0         0.0

[1 rows x 24 columns]

 Pour l'utilisateur :'tsoubrie'

    'tdelille'  'mmay'  'ddaniaupotter'  'gachort'  'sebastien'  'admin'  \
l1       100.0     0.0              0.0        0.0          0.0      0.0

    'madeth'  'cdejean'  'fdarriet'  Utilisateur  ...  'jvasseur'  'mdanet'  \
l1       0.0        0.0         0.0          0.0  ...         0.0       0.0

    'psalam'  'guest'  'cevanen'  'cfroger'  'adebeuckelaere'  'shernu'  \
l1       0.0      0.0        0.0        0.0               0.0       0.0

    'xjmechain'  'ntricoit'
l1          0.0         0.0

[1 rows x 24 columns]

 Pour l'utilisateur :'insauser1'

    'tdelille'  'mmay'  'ddaniaupotter'  'gachort'  'sebastien'  'admin'  \
l1         0.0     0.0              0.0        0.0          0.0      0.0

    'madeth'  'cdejean'  'fdarriet'  Utilisateur  ...  'jvasseur'  'mdanet'  \
l1       0.0        0.0         0.0          0.0  ...         0.0       0.0

    'psalam'  'guest'  'cevanen'  'cfroger'  'adebeuckelaere'  'shernu'  \
l1       0.0      0.0        0.0        0.0               0.0       0.0

    'xjmechain'  'ntricoit'
l1          0.0         0.0

[1 rows x 24 columns]

 Pour l'utilisateur :'mgodwod'

    'tdelille'  'mmay'  'ddaniaupotter'  'gachort'  'sebastien'  'admin'  \
l1         0.0     0.0              0.0        0.0          0.0      0.0

    'madeth'  'cdejean'  'fdarriet'  Utilisateur  ...  'jvasseur'   'mdanet'  \
l1       0.0        0.0   33.333333          0.0  ...   33.333333  33.333333

    'psalam'  'guest'  'cevanen'  'cfroger'  'adebeuckelaere'  'shernu'  \
l1       0.0      0.0        0.0        0.0               0.0       0.0

    'xjmechain'  'ntricoit'
l1          0.0         0.0

[1 rows x 24 columns]

 Pour l'utilisateur :'jvasseur'

    'tdelille'  'mmay'  'ddaniaupotter'  'gachort'  'sebastien'  'admin'  \
l1         0.0    20.0              0.0        0.0          0.0      0.0

    'madeth'  'cdejean'  'fdarriet'  Utilisateur  ...  'jvasseur'  'mdanet'  \
l1       0.0        0.0        30.0          0.0  ...        50.0      30.0

    'psalam'  'guest'  'cevanen'  'cfroger'  'adebeuckelaere'  'shernu'  \
l1       0.0      0.0        0.0        0.0               0.0       0.0

    'xjmechain'  'ntricoit'
l1          0.0         0.0

[1 rows x 24 columns]

 Pour l'utilisateur :'mdanet'

    'tdelille'  'mmay'  'ddaniaupotter'  'gachort'  'sebastien'  'admin'  \
l1       3.125    6.25              0.0        0.0          0.0      0.0

    'madeth'  'cdejean'  'fdarriet'  Utilisateur  ...  'jvasseur'  'mdanet'  \
l1       0.0      9.375      34.375          0.0  ...      21.875    28.125

    'psalam'  'guest'  'cevanen'  'cfroger'  'adebeuckelaere'  'shernu'  \
l1       0.0      0.0        0.0        0.0               0.0       0.0

    'xjmechain'  'ntricoit'
l1          0.0         0.0

[1 rows x 24 columns]

 Pour l'utilisateur :'psalam'

    'tdelille'  'mmay'  'ddaniaupotter'  'gachort'  'sebastien'  'admin'  \
l1         0.0     0.0              0.0        0.0          0.0      0.0

    'madeth'  'cdejean'  'fdarriet'  Utilisateur  ...  'jvasseur'  'mdanet'  \
l1       0.0        0.0         0.0          0.0  ...         0.0       0.0

    'psalam'  'guest'  'cevanen'  'cfroger'  'adebeuckelaere'  'shernu'  \
l1      50.0      0.0      100.0        0.0               0.0       0.0

    'xjmechain'  'ntricoit'
l1          0.0         0.0

[1 rows x 24 columns]

 Pour l'utilisateur :'guest'

    'tdelille'  'mmay'  'ddaniaupotter'  'gachort'  'sebastien'  'admin'  \
l1         0.0     0.0              0.0        0.0          0.0      0.0

    'madeth'  'cdejean'  'fdarriet'  Utilisateur  ...  'jvasseur'  'mdanet'  \
l1       0.0        0.0         0.0          0.0  ...         0.0       0.0

    'psalam'  'guest'  'cevanen'  'cfroger'  'adebeuckelaere'  'shernu'  \
l1       0.0      0.0        0.0        0.0               0.0       0.0

    'xjmechain'  'ntricoit'
l1          0.0         0.0

[1 rows x 24 columns]

 Pour l'utilisateur :'cevanen'

    'tdelille'  'mmay'  'ddaniaupotter'  'gachort'  'sebastien'  'admin'  \
l1         0.0     0.0              0.0        0.0          0.0      0.0

    'madeth'  'cdejean'  'fdarriet'  Utilisateur  ...  'jvasseur'  'mdanet'  \
l1       0.0        0.0         0.0          0.0  ...         0.0       0.0

     'psalam'  'guest'  'cevanen'  'cfroger'  'adebeuckelaere'  'shernu'  \
l1  23.076923      0.0  23.076923  15.384615               0.0       0.0

    'xjmechain'  'ntricoit'
l1     7.692308         0.0

[1 rows x 24 columns]

 Pour l'utilisateur :'cfroger'

    'tdelille'  'mmay'  'ddaniaupotter'  'gachort'  'sebastien'  'admin'  \
l1         0.0     0.0              0.0        0.0          0.0      0.0

    'madeth'  'cdejean'  'fdarriet'  Utilisateur  ...  'jvasseur'  'mdanet'  \
l1       0.0        0.0         0.0          0.0  ...         0.0       0.0

    'psalam'  'guest'  'cevanen'  'cfroger'  'adebeuckelaere'  'shernu'  \
l1       0.0      0.0       25.0       12.5               0.0       0.0

    'xjmechain'  'ntricoit'
l1          0.0         0.0

[1 rows x 24 columns]

 Pour l'utilisateur :'adebeuckelaere'

    'tdelille'  'mmay'  'ddaniaupotter'  'gachort'  'sebastien'  'admin'  \
l1         0.0     0.0              0.0        0.0          0.0      0.0

    'madeth'  'cdejean'  'fdarriet'  Utilisateur  ...  'jvasseur'  'mdanet'  \
l1       0.0        0.0         0.0          0.0  ...         0.0       0.0

    'psalam'  'guest'  'cevanen'  'cfroger'  'adebeuckelaere'  'shernu'  \
l1       0.0      0.0        0.0        0.0               0.0       0.0

    'xjmechain'  'ntricoit'
l1          0.0         0.0

[1 rows x 24 columns]

 Pour l'utilisateur :'shernu'

    'tdelille'  'mmay'  'ddaniaupotter'  'gachort'  'sebastien'  'admin'  \
l1         0.0     0.0              0.0        0.0          0.0      0.0

    'madeth'  'cdejean'  'fdarriet'  Utilisateur  ...  'jvasseur'  'mdanet'  \
l1       0.0        0.0         0.0          0.0  ...         0.0       0.0

     'psalam'  'guest'  'cevanen'  'cfroger'  'adebeuckelaere'  'shernu'  \
l1  13.333333      0.0   6.666667        0.0          6.666667  6.666667

    'xjmechain'  'ntricoit'
l1          0.0         0.0

[1 rows x 24 columns]

 Pour l'utilisateur :'xjmechain'

    'tdelille'  'mmay'  'ddaniaupotter'  'gachort'  'sebastien'  'admin'  \
l1         0.0     0.0              0.0        0.0          0.0      0.0

    'madeth'  'cdejean'  'fdarriet'  Utilisateur  ...  'jvasseur'  'mdanet'  \
l1       0.0        0.0         0.0          0.0  ...         0.0       0.0

    'psalam'  'guest'  'cevanen'  'cfroger'  'adebeuckelaere'  'shernu'  \
l1       0.0      0.0        0.0        0.0               0.0       0.0

    'xjmechain'  'ntricoit'
l1          0.0         0.0

[1 rows x 24 columns]

 Pour l'utilisateur :'ntricoit'

    'tdelille'  'mmay'  'ddaniaupotter'  'gachort'  'sebastien'  'admin'  \
l1         0.0     0.0              0.0        0.0          0.0      0.0

    'madeth'  'cdejean'  'fdarriet'  Utilisateur  ...  'jvasseur'  'mdanet'  \
l1       0.0        0.0         0.0          0.0  ...         0.0       0.0

    'psalam'  'guest'  'cevanen'  'cfroger'  'adebeuckelaere'  'shernu'  \
l1       0.0      0.0        0.0        0.0               0.0       0.0

    'xjmechain'  'ntricoit'
l1          0.0         0.0

[1 rows x 24 columns]
2019-11-22 10:40:51.221164
2019-11-22 10:41:33.518623

In [117]:
data = pd.read_csv("transition.csv", encoding='utf-8')
def getReponses(data, action, utilisateur):
     return(data[(data['Titre'] == action) & (data['Utilisateur'] == utilisateur)])

def getMessage(data, idMsg):
     return(data[((data['Titre'].str.contains('Répondre à un message'))
                              |data['Titre'].str.contains('Poster un nouveau message'))
                             & data['Attribut'].str.contains('IDMsg='+idMsg)])

from datetime import datetime, date

def getDifferenceMessages(dateMessage, timeMessage, dateParent, timeParent):
    return int((datetime.combine(datetime(dateMessage).date, timeMessage) - datetime.combine(datetime(dateParent).date, timeParent)).total_seconds())


def temps_moyen(seconds):
    intervals = (
    ('semaines', 604800),  # 60 * 60 * 24 * 7
    ('jours', 86400),    # 60 * 60 * 24
    ('heures', 3600),    # 60 * 60
    ('minutes', 60),
    ('secondes', 1),
    )
    result = []
    for name, count in intervals:
        value = seconds // count
        if value:
            seconds -= value * count
            if value == 1:
                name = name.rstrip('s')
            result.append("{} {}".format(value, name))
    return ', '.join(result[:5])

In [118]:
#print(getReponses(data, "'Répondre à un message'", "'mmay'"))
#print(reponse[5])
for utilisateur in data["Utilisateur"].unique().tolist():
    reponses = getReponses(data, "'Répondre à un message'", utilisateur)
    #print(reponses)
    tabDuree = 0
    i = 0
    for reponse in reponses.values:
        i = i+1
        print(reponse)
        dateMessage = reponse[4]
        timeMessage = reponse[5]
        idParent = reponse[3].split(",")[2].split("=")[1][:-1]
        msgParent = getMessage(data, idParent)
        if(len(msgParent.values) != 0):
            dateParent = msgParent.values[0][4]
            timeParent = msgParent.values[0][5]
            print(timeParent)
            tabDuree = tabDuree + getDifferenceMessages(dateMessage, timeMessage, dateParent, timeParent)
     
    if(i != 0):
        print(temps_moyen(tabDuree/i))

['50' "'tdelille'" "'Répondre à un message'"
 "'IDForum=7,IDMsg=1165,IDParent=1164'" "'2009-02-12'" "'14:39:15'"
 "'00:07:26'" '0' nan]
'12:59:12'

TypeError: an integer is required (got type str)

In [ ]:
import json
import pandas as pd

with open('Data.json', 'r') as f:
    data = json.load(f)
df = pd.DataFrame(data)
print(df)
df.to_csv('JsonToCvs.csv') 
data = pd.read_csv("JsonToCvs.csv", encoding='latin-1') 
data.head()

In [ ]:
import xml.etree.ElementTree as ET
import pandas as pd

tree = ET.parse("output.xml")
root = tree.getroot()

get_range = lambda col: range(len(col))
l = [{r[i].tag:r[i].text for i in get_range(r)} for r in root]

df = pd.DataFrame.from_dict(l)
df.to_csv('XmlToCsv.csv')
data = pd.read_csv("XmlToCsv.csv", encoding='latin-1') 
data.head()

In [ ]:
import pandas as pd
data_xls = pd.read_excel('your_workbook.xls', 'Sheet1', index_col=None)
data_xls.to_csv('your_csv.csv', encoding='utf-8')

In [42]:
import numpy as np
dataFrame = pd.read_csv("transition.csv", encoding='utf-8')

# A remplacer Titre par Action  
def actionDate(dataFrame, Action, Utilisateur, Date):
    return dataFrame[(dataFrame['Titre'] == Action) & (dataFrame['Utilisateur'] == Utilisateur) & (dataFrame['Date'] == Date)].count()['Date']
   
def action2Date(dataFrame, Action, Utilisateur, Date1,Date2):
    List=[]
    
    for d in dataFrame['Date'].unique().tolist():
        if ((d >= Date1) and (d <= Date2)):
            List.append(actionDate(dataFrame, Action, Utilisateur, d))
    return sum(List)


def actionParTemps(dataFrame, Action, Utilsateurs, Date1, Date2):
    
    List=[]
    list_nbAction=[]
    if Date1 is None:
        for user in Utilsateurs:
            for d in dataFrame['Date'].unique().tolist():
                if (d <= Date2):  
                    list_nbAction.append(actionDate(dataFrame, Action, user, d))
            List.append((user,list_nbAction))
    elif Date2 is None:
        for user in Utilsateurs:
            for d in dataFrame['Date'].unique().tolist():
                if (d >= Date1):  
                    list_nbAction.append(actionDate(dataFrame, Action, user, d))
            List.append((user,list_nbAction))
    elif (Date2 is None) and (Date1 is None):
        for user in Utilsateurs:
            for d in dataFrame['Date'].unique().tolist():             
                list_nbAction.append(actionDate(dataFrame, Action, user, d))
            List.append((user,list_nbAction))
    else:
        for user in Utilsateurs:
            for d in dataFrame['Date'].unique().tolist():
                if ((d >= Date1) and (d <= Date2)):  
                    list_nbAction.append(actionDate(dataFrame, Action, user, d))
            List.append((user,list_nbAction))

    return List

List=actionParTemps(dataFrame, "'Répondre à un message'",["'tdelille'","'mmay'"], "'2009-02-12'", "'2009-02-13'")
print(List)

[("'tdelille'", [1, 7, 0, 3]), ("'mmay'", [1, 7, 0, 3])]

In [43]:
dataFrame = pd.read_csv("transition.csv", encoding='utf-8')
def actionsParUtilisateur(dataFrame, Utilisateur, Date1,Date2):
    List=[]
    for action in dataFrame['Titre'].unique().tolist():
        List.append((action, action2Date(dataFrame, action, Utilisateur, Date1,Date2)))
    return List
print(actionsParUtilisateur(dataFrame,"'tdelille'", "'2009-02-12'", "'2009-02-13'"))

[("'Connexion'", 7), ("'Afficher une structure (cours/forum)'", 23), ("'Répondre à un message'", 8), ("'Afficher le fil de discussion'", 0), ("'Poster un nouveau message'", 3), ("'Afficher le contenu d''un message'", 34), ("'Bouger la scrollbar en bas - afficher la fin du message'", 0), ("'Bouger la scrollbar en bas'", 0), ("'Citer un message'", 3), ('Titre', 0), ("'Upload un ficher avec le message'", 0), ("'Download un fichier dans le message'", 0), ("'Afficher une structure du cours'", 0)]

In [45]:
dataFrame = pd.read_csv("transition.csv", encoding='utf-8')
def actionPourUtilisateurs(dataFrame, Action, Utilsateurs, Date1, Date2):
    List=[]
    for user in Utilsateurs:
        List.append((user,action2Date(dataFrame, Action, user, Date1,Date2))) 
        
    return List
print(actionPourUtilisateurs(dataFrame, "'Répondre à un message'",["'tdelille'","'mmay'"], "'2009-02-12'", "'2009-02-13'"))

[("'tdelille'", 8), ("'mmay'", 3)]

In [3]:
from collections import OrderedDict, defaultdict

def duppliCellulelist(fichier, colonne, separateur):
    data = pd.read_csv(fichier, encoding = "latin-1")
    row_list = []
    for index, row in data.iterrows():
        if len(row[colonne].split(separateur)) > 1:
            for i in row[colonne].split(separateur):
                row[colonne] = i
                row_list.append(row.to_dict(OrderedDict))
        else:
            row_list.append(row.to_dict(OrderedDict))
    newData = pd.DataFrame(row_list, columns=data.columns)
    return newData

dataFrame=duppliCellulelist("transition.csv", "Attribut", ',')
dataFrame.head()

,IDTran,Utilisateur,Titre,Attribut,Date,Heure,Delai,RefTran,Commentaire
0,1,'tdelille','Connexion','login=tdelille','2009-02-12','11:33:55',NaN,0,NaN
1,2,'tdelille','Afficher une structure (cours/forum)','IDForum=7','2009-02-12','11:33:58',NaN,0,NaN
2,166,'mmay','RÃ©pondre Ã un message','IDForum=7,'2009-02-13','03:40:13','00:09:46',0,NaN
3,166,'mmay','RÃ©pondre Ã un message',IDMsg=1184,'2009-02-13','03:40:13','00:09:46',0,NaN
4,166,'mmay','RÃ©pondre Ã un message',IDParent=1183','2009-02-13','03:40:13','00:09:46',0,NaN

In [92]:
dataFrame=duppliCellulelist("transition.csv", "Attribut", ',')

def nbReponsesParPersonne(dataFrame,Utilisateur, Date1, Date2):
    NewList=[]
    NewList2=[]
    FinalList=[]
 
    for elem in dataFrame[dataFrame['Utilisateur']==Utilisateur]['Attribut']:
             if elem[0:8]=="IDParent":
                NewList.append(elem[9:len(elem)-1])
                
    for el in NewList:
        el='IDMsg='+el
        for d in dataFrame['Date'].unique().tolist():
            if ((d >= Date1) and (d <= Date2)):
                for user in dataFrame[(dataFrame['Date'] == d) & (dataFrame['Attribut']==el)]['Utilisateur'].tolist():
                    NewList2.append(user)

    for user in dict.fromkeys(NewList2):
           FinalList.append((user,NewList2.count(user)))

    return FinalList

print(nbReponsesParPersonne(dataFrame, "'mmay'", "'2009-02-12'", "'2009-02-13'"))

[("'gachort'", 2), ("'mmay'", 2), ("'tdelille'", 1)]